extends ../../../../layouts/main
include ../../../../mixins/forms/input
include ../../../../mixins/forms/select
include ../../../../mixins/forms/vselect2
include ../../../../mixins/forms/checkbox
include ../../../../mixins/forms/switch

block content
  .page-inner
    .page-header
      h4.page-title Daftar TitleName
      include ../../../../partials/breadcrumb
    #app
      .card
        .card-body
          button.btn.btn-primary(type='button', v-on:click='openModal',data-toggle='modal', data-target='#exampleModalCenter') Tambah TitleName
          bootstrap-table(ref="table", :columns="columns", :options="options")
          // Modal
          #exampleModalCenter.modal.fade(ref='exampleModalCenter', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h3#exampleModalCenterTitle.modal-title {{ modalTitle }}
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  form
                    +input({ label: 'Name', vmodel: 'detail.name', required: true })
                .modal-footer
                  button.btn.btn-secondary(v-on:click="reset") Reset
                  button.btn.btn-primary(type='button', v-on:click="store")
                    div(v-if="loading")
                      .spinner-border.text-light(role='status',)
                        span.sr-only Loading...
                    div(v-if="!loading")
                      span Simpan
          // Modal
          #deleteModal.modal.fade(ref='deleteModal', tabindex='-1', role='dialog', aria-labelledby='deleteModalTitle', aria-hidden='true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h3#deleteModalTitle.modal-title Konfirmasi Penghapusan
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  h4 Apakah kamu yakin ingin menghapus data ini
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button', v-on:click="store")
                    div(v-if="loading === true")
                      span Loading..
                    div(v-if="!loading")
                      span Simpan



block scripts
  script.
    const _csrf = '#{_csrf}'
    //- const update = '#{can.update}'
    //- const _delete = '#{can.delete}'
    let app = new Vue({
      el: '#app',
      components: {
        'bootstrap-table': BootstrapTable
      },
      data: {
        detail: {
        },
        modalTitle: 'Tambah Data',
        loading: false,
        message: null,
        updater: false,
        columns: [
          {

            title: 'No.',
            field: 'id',
            align: 'center',
            width: 10,
            formatter: (e, value, index) => {
              var tableOptions = app.$refs.table.getOptions();
              return index + ((tableOptions.pageNumber - 1) * tableOptions.pageSize) + 1
            }

          },
          {
            title: 'Nama',
            field: 'name',
            align: 'center'
          },
          {
            title: '<i class="icon-grid"></i>',
            field: 'action',
            align: 'center',
            width: 200,
            formatter: () => {
              return app.format()
            },
            events: {
              'click .edit': (e, value, row) => {
                app.reset()
                app.edit()
                app.detail = {...row}
              },
              'click .delete': (e, value, row) => {
                app.deleteData(row)
              }
            }
          }
        ],
        options: {
          pagination: true,
          sidePagination: 'server',
          url: './UrlName/json',
          search: './UrlName/json',
          pageList: [5,10,25]
        }
      },
      methods: {
        format() {
          return [
            '<a v-on:click="edit" href="javascript:" class="edit btn btn-sm btn-warning mr-2" data-toggle="modal", data-target="#exampleModalCenter">Edit</a>',
            '<a v-on:click="delete" href="javascript:" class="delete btn btn-sm btn-danger">Hapus</a>'
          ].join('')
        },
        reset() {
          this.detail = {
          }
          this.updater = !this.updater
        },
        openModal() {
          this.modalTitle = 'Tambah Data'
          this.reset()
        },
        edit() {
          this.modalTitle = 'Edit Data'
        },
        async deleteData(data) {
          processDelete(`./UrlName/${data.id}/delete`).then(() => {
            this.refresh()
          })
        },
        store() {
          if(this.detail.id) {
            this.update()
          } else {
            this.create()
          }
        },
        async create() {
          this.loading = true
          try{
            const data = await axios.post('./UrlName/create', { ...this.detail, _csrf })
            this.loading = false
            this.refresh()
            this.showMessage('success', 'Sukses', 'Berhasil menambahkan data')
          } catch(err) {
            this.loading = false
            this.showMessage('danger', 'Error', err.response.data.message)
          }
        },
        async update() {
          this.loading = true
          try {
            const { id, nama } = this.detail
            const data = await axios.put(`./UrlName/${id}/update`, { nama, _csrf})
            this.loading = false
            this.refresh()
            this.showMessage('success', 'Sukses', 'Berhasil menyimpan data')
          } catch(err) {
            this.loading = false
            this.showMessage('danger', 'Error', err.response.data.message)
          }
        },
        delete() {

        },
        refresh () {
          this.$refs.table.refresh()
        },
      },
    })
